@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Nunito:wght@200..1000&family=Outfit:wght@100..900&family=Roboto+Mono:wght@100..700&family=Source+Code+Pro:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

/* global style */
* {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

/* ! main */

#main {
  height: 100vh;
  color: white;
}

/* ? navbar */
.navbar {
  z-index: 99;
  background: rgb(192, 22, 31);
  position: relative;
  height: 10vh;
  width: 100vw;
}

/* ? intro */
.intro {
  background: url(img/birds_crows_art_166942_2048x1152.jpg);
  background-position: left;
  background-size: cover;
  position: relative;
  top: -0.1vh;
  height: 90.5vh;
  width: 100vw;
}
.intro-1 {
  padding-left: 5vw;
  display: inline-block;
  position: relative;
  top: 30%;
}
.hi {
  font-family: 'Roboto Mono', monospace;
  display: inline-block;
  animation: 0.5s ease 0.5s forwards;
  animation-name: hi, hai;
  height: 5rem;
  opacity: 0;
  font-size: 3.5rem;
  display: inline-flex;
  align-items: center;
}
.delayed-comma {
  animation: 0.5s ease hi 0.75s forwards;
  opacity: 0;
}
@keyframes hi {
  to {
    opacity: 1;
  }
}
@keyframes hai {
  to {
    font-size: 4rem;
  }
}
.I-am {
  position: relative;
  display: inb;
  font-family: 'Roboto Mono', monospace;
  font-size: 2.5rem;
  animation: 0.75s ease I-am 1.25s forwards;
  left: -15vw;
  opacity: 0;
}
@keyframes I-am {
  25% {
    opacity: 0;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
.mahidul-islam{
  position: relative;
  font-size: 4rem;
  font-weight: 800;
  color: white;
}
.mahi {
  position: relative;
  font-family: 'Nunito', sans-serif;
  animation: 1.5s ease mahi 2s forwards;
  color: white;
  opacity: 0;
  text-shadow: 0px 0px 0px red;
  font-weight: 100;
  left: 0.25rem;
}
@keyframes mahi {
  20%{
    color: white;
    text-shadow: 0px 0px 50px red;
  }
  40% {
    left: 0rem;
    text-shadow: 0px 0px 75px red;
    font-weight: 900;
    opacity: 1;
  }
  60% {
    left: 0rem;
    text-shadow: 0px 0px 50px red;
    font-weight: 900;
    opacity: 1;
  }
  to {
    color: red;
    left: 0.25rem;
    text-shadow: 0 0 1px red;
    font-weight: 200;
    opacity: 1;
  }
}
.dul-islam {
  position: relative;
  font-family: 'Nunito', sans-serif;
  animation: 1.5s ease dul 2s forwards;
  letter-spacing: 1rem;
  left: 1rem;
  opacity: 0;
}
@keyframes dul {
  60% {
    left: -1rem;
    letter-spacing: 1.5rem;
    opacity: 0;
  }
  to {
    left: -1rem;
    letter-spacing: normal;
    opacity: 1;
  }
}
.description {
  font-size: 1.25rem;
  margin-top: 2.5%;
  display: flex;
  text-align: center;
  align-items: center;
}
.I-am-an {
  transform: scale(1.2);
  animation: 0.5s ease uchiha 4s forwards;
  opacity: 0;
}
@keyframes uchiha {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.ux-ui-dev > hr {
  position: absolute;
  top: 48%;
  width: 0;
  opacity: 0;
  border: 1px solid rgb(255, 0, 0);
  animation: 1s ease ux-ui 4.25s forwards;
}
@keyframes ux-ui {
  from {
    opacity: 0;
  }
  60% {
    width: 50%;
  }
  to {
    opacity: 1;
    width: 100%;
    border: 1px solid red;
  }
}
.ux-ui-dev {
  height: 5rem;
}
.ux-ui-dev, .designer, .ux, .ui{
  line-height: 1.75rem;
  position: relative;
  font-size: 2rem;
  font-family: 'Fredericka the Great', serif;
}
.ux {
  opacity: 0;
  transform: translate(2rem,0);
  display: inline-block;
  animation: 1s ease ux 4.25s forwards;
}
@keyframes ux {
  50%{
    opacity: 1;
    transform: translate(0,0);
  }
  60%{
    opacity: 1;
    transform: translate(0,0);
  }
   to {
    opacity: 1;
    transform: translate(0.5rem, -0.4rem);
  }
}
.slash {
  animation: 1s ease slash-enlarge 4.25s forwards;
  opacity: 0;
}
@keyframes slash-enlarge {
  60%{
    font-size: 2rem;
    font-weight: normal;
    opacity: 0;
  }
  to{
    opacity: 1;
    font-size: 2.5rem;
    font-weight: 300;
  }
}
.ui {
  opacity: 0;
  transform: translate(-2rem,0);
  display: inline-block;
  animation: 1s ease ui 4.25s forwards;
}
@keyframes ui {
  50%{
    opacity: 1;
    transform: translate(0,0);
  }
  60%{
    opacity: 1;
    transform: translate(0,0);
  }   to {
    opacity: 1;
    transform: translate(-0.5rem, 0.4rem);
  }
}
.designer{
  opacity: 0;
  animation: 1s ease designer 4.25s forwards;
}
@keyframes designer {
  60% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.and {
  width: fit-content;
  bottom: 0.75rem;
  opacity: 0;
  position: absolute;
  text-align: center;
  animation: 0.5s ease and 5.5s forwards;
}
@keyframes and {
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.dev {
  width: max-content;

  opacity: 0;
  line-height: 2.5rem;
  font-size: 1.5rem;
  font-family: 'Source Code Pro', monospace;
  animation: 0.5s ease dev 6.25s forwards;
}
@keyframes dev {
  to {
    opacity: 1;
  }
}
.see-more {
  font-family: 'Outfit', sans-serif;
  position: relative;
  left: 17.5rem;
  border: 25px solid transparent;
  border-radius: 7.85px;
  background-color: rgba(255, 255, 255, 0);
  margin-top: 2.5vh;
  color: white;
  height: 5rem;
  width: 15rem;
  letter-spacing: 0rem;
  font-size: 1rem;
  transition: 0.5s ease-out;
}
.see-more:hover {
  left: 15rem;
  width: 20rem;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0.05rem;
  border: 0px solid red;
  background-color: white;
  color: red;
}



/* ! about */

#about {
  width: 100vw;
  height: 100vh;
  background: blue;
}